{% include 'layouts/default/head.html' %}

{% load i18n %}

<div class="container-fluid">

    <div class="mt-3">
        <div>
            {% if request.user.is_authenticated %}

                {% trans 'You are authorized.' %}

                <br>

                {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.

            {% else %}

                {% trans 'You are a guest.' %}

            {% endif %}
        </div>
    </div>

</div>

{% include 'layouts/default/foot.html' %}
