{% extends 'layouts/default/page.html' %}

{% load bootstrap4 i18n %}

{% block content %}

    <h4>{% translate 'Log in' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% translate 'Log in' %}</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}">{% translate 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">{% translate 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">{% translate 'Resend an activation code' %}</a>
        </li>
    </ul>

{% endblock content %}
