{% include 'layouts/default/head.html' %}

{% load bootstrap4 %}
{% load i18n %}

<div class="container-fluid mt-3">

    <h4>{% trans 'Password reset' %}</h4>

    <div class="alert alert-success">
        {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered." %}
        {% trans 'You should receive them shortly.' %}
    </div>

    <div class="alert alert-info">
        {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </div>

</div>

{% include 'layouts/default/foot.html' %}
