name: CI pipeline

on: [push]

jobs:
  build:
    name: continuous-integration
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: 3.13

      - name: Install deps
        run: uv sync --extra dev

      - name: Check code
        run: ruff check
